        body {
            margin: 0;
            padding: 0;
            background: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            perspective: 1000px;
        }

        .isometric-box {
            position: relative;
            width: 200px;
            height: 200px;
            transform-style: preserve-3d;
            transform: rotateX(-41deg) rotateY(59deg);
        }

        .face {
            position: absolute;
        }

        .box-4 .front, .box-4 .back , .box-4 .right , .box-4 .left,  .box-4 .section1x, .box-4 .section1y,  .box-4 .section2x, .box-4 .section2y  {
            height: 50px;
        }

        .front {
            width: 200px;
            height: 30px;
            background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 100%);
            transform: translateZ(100px);
            box-shadow: inset -20px -10px 30px rgba(0,0,0,0.1);
        }

        .back {
            width: 200px;
            height: 30px;
            background: linear-gradient(180deg, #f8f8f8 0%, #aaa 100%);
            transform: translateZ(-100px) rotateY(180deg);
        }

        .right {
            width: 200px;
            height: 30px;
            background: linear-gradient(180deg, #f8f8f8 0%, #aaa 100%);
            transform: rotateY(90deg) translateZ(100px);
            box-shadow: inset -20px -10px 30px rgba(0,0,0,0.15);
        }

        .left {
            width: 200px;
            height: 30px;
            background: linear-gradient(135deg, #e0e0e0 0%, #c8c8c8 100%);
            transform: rotateY(-90deg) translateZ(100px);
        }

        .bottom {
            width: 200px;
            height: 200px;
            background: linear-gradient(135deg, #d0d0d0 0%, #b8b8b8 100%);
            transform: rotateX(-90deg) translateZ(-71px);
        }

        .isometric-box:hover {
            /*
            transform: rotateX(-15deg) rotateY(15deg) scale(1.1);
            transition: transform 0.3s ease;
            */
        }


       







        .section1x,.section2x,.section3x{
            width: 200px;
            height: 30px;
            /*background: linear-gradient(135deg, #e8e8e8 0%, #d0d0d0 100%);*/
            background: linear-gradient(180deg, #f8f8f8 0%, #aaa 100%);
            
        }

         .section1y, .section2y, .section3y {
            width: 200px;
            height: 30px;
            background: linear-gradient(135deg, #f8f8f8 0%, #e0e0e0 100%);
            box-shadow: inset -20px -10px 30px rgba(0,0,0,0.15);
        }


        .box-4 .section1x{
            transform: translateZ(0px) rotateY(180deg);
        }

        .box-4 .section1y{
             transform: rotateY(90deg) translateZ(0px);
        }

        .box-4 .bottom{
            transform: rotateX(-90deg) translateZ(-51px);
        }




        .box-6 .section1x{
            transform:translateZ(-33px) rotateY(180deg);
        }

        .box-6 .section1y{
             transform: rotateY(90deg) translateZ(0px);
        }

         .box-6 .section2x{
            transform: translateZ(34px) rotateY(180deg);
        }

        .box-6 .section2y{
             transform: rotateY(90deg) translateZ(0px);
        }




        .box-9 .section1x{
            transform:translateZ(-33px) rotateY(180deg);
        }

        .box-9 .section1y{
             transform: rotateY(90deg) translateZ(-33px)
        }

        .box-9 .section2x{
            transform: translateZ(34px) rotateY(180deg);
        }

        .box-9 .section2y{
             transform: rotateY(90deg) translateZ(33px);
        }


        /*

        #maki{
            width: 200px;
            height: 200px;
            /*transform: rotateX(-90deg) translateZ(-51px);
            transform:rotateX(90deg) translateZ(-39px) translateX(100px) translateY(-234px) scale(1.2);
            display: grid;
            grid-template-columns: 50% 50%;
            position: absolute;
        }

        #maki img {
            width: 100%;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(22deg) scaleY(1.5);
            position: absolute;
        }

*/

        @keyframes boing4{
            0%{
                width: 0%;
                position: absolute;
                left: 50px;
                top: 50px;
            }
            50%{
                width: 60%;
                left: -10px;
                top: -10px;
            }
            65%{
                width: 40%;
                left: 10px;
                top: 10px;
            }
            80%{
                width: 55%;
                left: -5px;
                top: -5px;
            }
            90%{
                width: 45%;
                left: 5px;
                top: 5px;
            }
            100%{
                width: 50%;
                 position: absolute;
                left: 0px;
                top: 0px;
            }
        }

        @keyframes boing6{
            0%{
                width: 0%;
                position: absolute;
                left: 50px;
                top: 50px;
            }
            50%{
                width: 45%;
                left: -10px;
                top: -10px;
            }
            65%{
                width: 35%;
                left: 10px;
                top: 10px;
            }
            80%{
                width: 43%;
                left: -5px;
                top: -5px;
            }
            90%{
                width: 38%;
                left: 5px;
                top: 5px;
            }
            100%{
                width: 40%;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
       


        .maki{
            position: absolute;
            transform: rotateX(-9deg) rotateY(-21deg) rotateZ(-4deg) scaleY(1) translateX(-17px) translateY(-40px) translateZ(-15px);
            width: 50%;
           transition: width ease-in-out 0.3s;
         }
         .box-4 .maki{
            animation: boing4 ease-in-out 0.5s;
            animation-fill-mode: forwards;
         }
         .box-6 .maki{
            animation: boing6 ease-in-out 0.5s;
            animation-fill-mode: forwards;
         }
         .box-9 .maki{
            animation: boing6 ease-in-out 0.5s;
            animation-fill-mode: forwards;
         }
          
        .box-4 .maki-1{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-43px) translateY(-49px) translateZ(-5px);
            width: 50%;
         }
          
         .box-4 .maki-2{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(6px) translateY(-34px) translateZ(-106px);
            width: 50%;
         }
         .box-4 .maki-3{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(42px) translateY(-42px) translateZ(39px);
            width: 50%;
        }
         .box-4 .maki-4{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(95px) translateY(-34px) translateZ(-50px);
            width: 50%;
         }


         


         .box-6 .maki-1{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-55px) translateY(-47px) translateZ(-32px);
            width: 40%;
         }
          
         .box-6 .maki-2{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-2px) translateY(-47px) translateZ(-119px);
            width: 40%;
         }
         .box-6 .maki-3{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(5px) translateY(-48px) translateZ(4px);
            width: 40%;
        }
         .box-6 .maki-4{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(56px) translateY(-47px) translateZ(-81px);
            width: 40%;
         }

          .box-6 .maki-5{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(65px) translateY(-47px) translateZ(29px);
            width: 40%;
        }
         .box-6 .maki-6{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(115px) translateY(-47px) translateZ(-52px);
            width: 40%;
         }



         .box-9 .maki-1{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-61px) translateY(-47px) translateZ(-22px);
            width: 40%;
         }
          
         .box-9 .maki-2{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-26px) translateY(-47px) translateZ(-79px);
            width: 40%;
         }
         .box-9 .maki-3{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(9px) translateY(-47px) translateZ(-134px);
            width: 40%;
        }

        .box-9 .maki-4{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(-5px) translateY(-47px) translateZ(19px);
            width: 40%;
         }
          
         .box-9 .maki-5{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(34px) translateY(-47px) translateZ(-43px);
            width: 40%;
         }
         .box-9 .maki-6{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(64px) translateY(-47px) translateZ(-101px);
            width: 40%;
        }
        

        .box-9 .maki-7{
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(55px) translateY(-47px) translateZ(52px);
            width: 40%;
         }
          
         .box-9 .maki-8{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(90px) translateY(-47px) translateZ(-7px);
            width: 40%;
         }
         .box-9 .maki-9{   
            transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg) scaleY(1) translateX(123px) translateY(-47px) translateZ(-66px);
            width: 40%;
        }
        body {
            margin: 0;
            padding: 0;
            background: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            perspective: 1000px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .product-list {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
        }

        .product-item {
            cursor: pointer;
            text-align: center;
            transition: transform 0.2s;
        }

        .product-item:hover {
            transform: scale(1.05);
        }

        .product-thumb {
            width: 60px;
            height: 60px;
            object-fit: contain;
            display: block;
            margin: 0 auto 5px;
        }

        .box-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25%;
        }


        